<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.moon.libaccount">

    <application>
        <activity
                android:launchMode="singleTask"
                android:name=".ui.LoginActivity"
                android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ui.UserProtocolActivity"/>
    </application>

</manifest>