<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moon.educational">

    <application>
        <activity android:name=".ui.course.ManagerCourseActivity"></activity>
        <activity android:name=".ui.student.ManagerStudentActivity" />
        <activity android:name=".ui.teacher.TeacherDetailActivity" />
        <activity android:name=".ui.teacher.AddTeacherActivity" />
        <activity android:name=".ui.teacher.ManagerTeacherActivity" />
    </application>

</manifest>